{% extends "master.twig" %}

{% block title %} Contact - ZList {% endblock title %}

{% block content %}

    <div id="main-wrapper">
        <div id="main">
            <div id="main-inner">
                <div class="breadcrumb-wrapper">
                    <div class="container">
                        <ol class="breadcrumb pull-left">
                            <li><a href="#">Vivamus</a></li>
                            <li><a href="#">Proin era</a></li>
                            <li class="active">Fusce accumsan</li>
                        </ol><!-- /.breadcrumb -->

                    </div><!-- /.container -->
                </div><!-- /.breadcrumb-wrapper -->
                <div class="container">
                    <div class="block-content">
                        <div class="block-content-inner">
                            <div class="page-header center">
                                <h1>Contact Us</h1>
                            </div><!-- /.page-header -->

                            <div class="row mb40">
                                <div class="col-sm-4">
                                    <h4>Contact Information</h4>

                                    <p>
                                        <strong>Your Company, Inc.</strong>
                                    </p>

                                    <p class="address">
                                        <i class="icon icon-normal-pointer-pin"></i>
            <span>795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107</span>
                                    </p>

                                    <p>
                                        <strong><i class="icon icon-normal-phone"></i> Phone:</strong> (123)
                                        456-7890<br>
                                        <strong><i class="icon icon-normal-mail"></i> E-mail:</strong>
                                        mail@yourcompany.com
                                    </p>
                                </div>

                                <div class="col-sm-8">
                                    <iframe class="contact-map" width="425" height="425"
                                            src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5th+Avenue,+New+York,+NY,+United+States&amp;aq=0&amp;oq=5th+&amp;sll=37.0625,-95.677068&amp;sspn=70.689889,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=5th+Ave,+New+York&amp;t=m&amp;z=13&amp;ll=40.649866,-74.005367&amp;output=embed"></iframe>
                                </div>
                            </div><!-- /.row -->

                            <form method="post" action="/contact">
                                <div class="row">
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label for="full-name">Your Name</label>
                                        <input type="text" name="full-name" id="full-name" class="form-control">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4 col-md-4">
                                        <label for="mail">Email address</label>
                                        <input type="email" name="mail" id="mail" class="form-control">
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-4 col-md-4">
                                        <label for="subject">Subject</label>
                                        <input type="text" name="subject" id="subject" class="form-control">
                                    </div><!-- /.form-group -->
                                </div><!-- /.row -->

                                <div class="textarea form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" name="message" id="message" rows="4"></textarea>
                                </div>

                                <button class="btn btn-secondary" type="submit">Contact</button>
                            </form>
                        </div><!-- /.block-content-inner -->
                    </div><!-- /.block-content -->
                </div>

            </div><!-- /#main-inner -->
        </div><!-- /#main -->
    </div><!-- /#main-wrapper -->

{% endblock content %}